
server:
  port: 8080


spring:
  application:
    name: blog

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: cavalo
    url: jdbc:mysql://127.0.0.1:3306/legendaryblog

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true






cloudinary:
  url: "cloudinary://316247294394358:UAX-YzaamuupS9iNrCv0gYdisCk@delm0zwcu"